.calculator {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.calculator-screen {
    width: 98%;
    height: 100px;
    background-color: rgb(236, 234, 234);
    color: black;
    text-align: right;
    font-size: 36px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 1%;
    border: none;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    border: none;
    font-size: 32px;
    width: 24%;
    margin: 1%;
}

.number, .decimal {
    border: 3px solid rgb(211, 211, 211);
}

.all-clear, .zero-btn {
    width: 50%;
}

.all-clear {
    background-color: red;
    color: black;
}

.all-clear:hover {
    background-color: rgb(226, 53, 53)
}

.percentage, .pow2, .sqrt, .operator, .equal-sign {
    background-color: rgb(255, 249, 158);
    border: 3px solid rgb(250, 240, 108);
    color: black;
}

.number:hover, .decimal:hover {
    background-color: rgb(211, 211, 211);
}

.equal-sign:hover, .percentage:hover, .pow2:hover, .sqrt:hover, .operator:hover {
    background-color: rgb(250, 240, 108);
}

